FPL_ADMIN_AWS_PROFILE=default
FPL_ADMIN_AWS_REGION=eu-west-2
FPL_ADMIN_DATA_STACK_NAME=fpl-relay-data
FPL_ADMIN_APP_STACK_NAME=fpl-relay-app
FPL_ADMIN_NAS_SSH_TARGET=fpl-nas
FPL_ADMIN_NAS_STACK_DIRECTORY=/volume1/docker/stacks/fpl-data-relay-collector
FPL_ADMIN_NAS_COMPOSE_EXECUTABLE=/usr/local/bin/docker-compose
FPL_ADMIN_NAS_DOCKER_EXECUTABLE=/usr/local/bin/docker
FPL_ADMIN_NAS_SSH_CONNECT_TIMEOUT_SECONDS=10
FPL_ADMIN_DRAIN_TIMEOUT_SECONDS=3600
FPL_ADMIN_DRAIN_POLL_SECONDS=15
FPL_ADMIN_DRAIN_STABLE_SECONDS=120
FPL_ADMIN_NAS_HEALTH_ATTEMPTS=12
FPL_ADMIN_NAS_HEALTH_INTERVAL_SECONDS=5
FPL_ADMIN_NAS_LOG_TAIL_LINES=100
