COLLECTOR_ENV_FILE=.env
COLLECTOR_IMAGE_TAG=main
AWS_PROFILE=fpl-collector
AWS_REGION=eu-west-2
FETCH_QUEUE_URL=https://sqs.eu-west-2.amazonaws.com/000000000000/fetch-queue
RESULT_QUEUE_URL=https://sqs.eu-west-2.amazonaws.com/000000000000/result-queue
PAYLOAD_BUCKET=fpl-relay-collected-payloads
PAYLOAD_PREFIX=payloads
FPL_API_BASE_URL=https://fantasy.premierleague.com/api
FPL_CLIENT_USER_AGENT=fpl-data-relay/production
HTTP_TIMEOUT_SECONDS=20
COLLECTOR_HEARTBEAT_PATH=/tmp/fpl-collector-heartbeat
